* {
  margin: 0;
  padding: 0;
  /* So I can see where the elements are */
  /* outline: black solid 1px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Roboto Mono", Helvetica, sans-serif;
  font-weight: 200;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

main {
  flex-direction: column;
  flex: 90;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  padding: 3%;
  border-radius: 5vh;
  width: 60%;
  margin: 3%;
}

nav {
  flex: 10;
  position: sticky;
  top: 15%;
  height: min-content;
}

nav ul{
  text-align: center;
  list-style: none;
}

nav ul li {
  margin: 10%;
}

nav ul li a {
  padding: 3%;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

nav ul li a i {
  font-size: 150%;
  color: black;
  margin-top: 20%;
}

.hero-image {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 400%;
  margin-bottom: 3%;
}

.hero-text {
  max-width: 60%;
}

.hero-text h2 {
  margin: 3% 0;
}

.technologies, .links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 75%;
  list-style: circle;
  list-style-position: inside;
}

.technologies li{
  padding-left: 5%;
}

.links {
  list-style: none;
  margin: 3% 0;
  justify-content: flex-start;
}

.links li {
  margin: 0 5%;
}

.links li a i{
  list-style: none;
  font-size: 200%;
  color: black;
}


